# Build output
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache

# MAUI packaging & signing
*.apk
*.aab
*.ipa
*.appx
*.msix
*.keystore
*.jks

# NuGet
*.nupkg
packages/

# Misc
Thumbs.db
Desktop.ini
.DS_Store